<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fideicomisoapproverring">
    <application 
        android:name=".TestApplication"
        android:theme="@style/Theme.AppCompat.Light">
        <activity 
            android:name=".FindEscrowActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity 
            android:name=".EscrowDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".EscrowApproverActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light"
            />
    </application>
</manifest> 